<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> by Mª Ángeles Córdoba</p>
    <p>WEB-API proyect developed using Express and MongoDB</p>
    <p>Node.js module of <em>Women in Tech Bootcamp by KeepCoging </em></p>
  </body>
</html>
